# COGS 108 - Data Checkpoint

# Names

- Elise Davis
- Kody Chuang  
- Anna Sim 
- Varsha Sampath

<a id='research_question'></a>
# Research Question

What is the correlation between median income and percentage of adults with diabetes in different American cities?

# Dataset(s)

*Fill in your dataset information here*

**Dataset #1**
- Dataset Name: US Household Income Statistics
- Link to the dataset: https://www.kaggle.com/datasets/goldenoakresearch/us-household-income-stats-geo-locations 
- Number of observations: 
32,000 records on US Household Income Statistics, including mean income for each city.

**Dataset #2**
- Dataset Name: 500 Cities: Diagnosed Diabetes among adults
- Link to the dataset: https://chronicdata.cdc.gov/500-Cities-Places/500-Cities-Diagnosed-diabetes-among-adults-aged-18/cn78-b9bj/data 
- Number of observations: 29,006
Records for percent of people in each city (of thousands) that have been diagnosed with diabetes.

We plan to cross reference the cities in each data set to combine the mean income data and the diabetes data, to then analyze and uncover any correlation.

# Setup

In [1]:
# import pandas & numpy library
import pandas as pd
import numpy as np

# Import seaborn and apply its plotting styles
import seaborn as sns
sns.set(font_scale=2, style="white")

# import matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.style as style
# set plotting size parameter
plt.rcParams['figure.figsize'] = (12, 5)

# Data Cleaning

Describe your data cleaning steps here.

In [9]:
diabetes = pd.read_csv("Diagnosed_Diabetes.csv")
diabetes.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2017,CA,California,Inglewood,Census Tract,BRFSS,Health Outcomes,0636546-06037601801,Diagnosed diabetes among adults aged >=18 Years,%,...,13.5,NaN,NaN,"2,472","(33.9439711273, -118.349937728)",HLTHOUT,DIABETES,636546.0,6.037602e+09,Diabetes
1,2017,AL,Alabama,Huntsville,Census Tract,BRFSS,Health Outcomes,0137000-01089002922,Diagnosed diabetes among adults aged >=18 Years,%,...,10.3,NaN,NaN,"4,387","(34.612755588, -86.5329568642)",HLTHOUT,DIABETES,137000.0,1.089003e+09,Diabetes
2,2017,AK,Alaska,Anchorage,Census Tract,BRFSS,Health Outcomes,0203000-02020002501,Diagnosed diabetes among adults aged >=18 Years,%,...,7.8,NaN,NaN,"4,993","(61.1593945029, -149.899866691)",HLTHOUT,DIABETES,203000.0,2.020003e+09,Diabetes
3,2017,AZ,Arizona,Tempe,Census Tract,BRFSS,Health Outcomes,0473000-04013319907,Diagnosed diabetes among adults aged >=18 Years,%,...,7.9,NaN,NaN,"2,225","(33.3419171912, -111.919809152)",HLTHOUT,DIABETES,473000.0,4.013320e+09,Diabetes
4,2017,AZ,Arizona,Yuma,City,BRFSS,Health Outcomes,0485540,Diagnosed diabetes among adults aged >=18 Years,%,...,11.3,NaN,NaN,"93,064","(32.5986027117, -114.54836837)",HLTHOUT,DIABETES,485540.0,NaN,Diabetes

In [10]:
income = pd.read_csv("kaggle_income.csv", encoding='latin-1')
income.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

**Descriptive Statistics**

In [11]:
diabetes.shape

(29006, 24)

In [13]:
diabetes.describe()

,Year,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,CityFIPS,TractFIPS
count,29006.0,28212.000000,28212.000000,28212.000000,2.900400e+04,2.800400e+04
mean,2017.0,10.791167,10.121019,11.469446,2.607162e+06,2.593797e+10
std,0.0,4.220925,4.009712,4.422918,1.686484e+06,1.675674e+10
min,2017.0,0.800000,0.600000,0.900000,1.500300e+04,1.073000e+09
25%,2017.0,7.900000,7.300000,8.500000,6.813440e+05,8.001009e+09
50%,2017.0,10.000000,9.400000,10.700000,2.622000e+06,2.608100e+10
75%,2017.0,12.900000,12.100000,13.600000,4.055000e+06,4.010911e+10
max,2017.0,39.500000,36.400000,42.200000,5.613900e+06,5.602100e+10

In [12]:
income.shape

(32526, 19)

In [14]:
income.describe()

,id,State_Code,Zip_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
count,3.252600e+04,32526.000000,32526.000000,3.252600e+04,3.252600e+04,32526.000000,32526.000000,32526.000000,32526.000000,32526.000000,32526.000000
mean,6.203707e+07,28.624885,50182.648404,1.165893e+08,6.952054e+06,37.731983,-91.303844,66703.986042,85452.938818,47273.695321,576.910273
std,1.115546e+08,16.297205,29410.122808,1.280894e+09,2.092093e+08,5.579450,16.227588,30451.194599,87810.895132,16555.486882,3911.006939
min,1.026000e+03,1.000000,601.000000,0.000000e+00,0.000000e+00,17.929085,-175.860041,0.000000,0.000000,0.000000,0.000000
25%,8.021282e+06,13.000000,26362.000000,1.906991e+06,0.000000e+00,34.013469,-97.664034,46015.500000,36046.250000,36075.000000,201.436458
50%,2.901168e+07,29.000000,48163.000000,5.022976e+06,2.703350e+04,38.925588,-87.139280,60738.000000,51874.500000,46179.000000,329.482618
75%,4.802899e+07,42.000000,76712.000000,3.090984e+07,5.082078e+05,41.495793,-79.852969,82223.500000,80915.000000,58078.000000,590.227670
max,4.802211e+08,72.000000,99950.000000,9.163267e+10,2.453228e+10,71.253500,-65.500823,242857.000000,300000.000000,113936.000000,612241.922964

In [57]:
list_of_cities = diabetes['StateDesc'].unique()
list_of_states = diabetes['CityName'].unique()
print(list_of_cities)
print(list_of_states)

['California' 'Alabama' 'Alaska' 'Arizona' 'Connecticut' 'Delaware'
 'Florida' 'Colorado' 'Indiana' 'Iowa' 'Kansas' 'Louisiana'
 'Massachusetts' 'Minnesota' 'Mississippi' 'New Hampshire' 'New Jersey'
 'New York' 'North Carolin' 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon'
 'Pennsylvania' 'Rhode Island' 'South Carolin' 'Tennessee' 'Texas'
 'Virginia' 'Washington' 'Wisconsin' 'United States' 'Arkansas' 'Illinois'
 'District of C' 'Georgia' 'Hawaii' 'Idaho' 'Kentucky' 'Maryland'
 'Michigan' 'Maine' 'Missouri' 'Nevada' 'Nebraska' 'Montana' 'New Mexico'
 'South Dakota' 'Utah' 'Vermont' 'Wyoming' 'West Virginia']
['Inglewood' 'Huntsville' 'Anchorage' 'Tempe' 'Yuma' 'Antioch' 'Burbank'
 'Folsom' 'Moreno Valley' 'Palmdale' 'Riverside' 'Roseville'
 'San Francisco' 'San Jose' 'Stamford' 'Wilmington' 'Cape Coral'
 'Hollywood' 'Melbourne' 'Pompano Beach' 'Santa Clara' 'Santa Maria'
 'Thousand Oaks' 'Union City' 'Vacaville' 'West Covina' 'Fort Collins'
 'Thornton' 'Lafayette' 'Des Moines' 'Sioux City' 'Olathe' 'Boston'
 'Cambridge' 'Brooklyn Park' 'Gulfport' 'Manchester' 'Nashua'
 'Jersey City' 'New York' 'Rochester' 'Syracuse' 'Yonkers' 'Asheville'
 'Charlotte' 'Concord' 'Fayetteville' 'Raleigh' 'Fargo' 'Cleveland'
 'Columbus' 'Broken Arrow' 'Lawton' 'Tulsa' 'Gresham' 'Salem' 'Bethlehem'
 'Erie' 'Warwick' 'Columbia' 'Knoxville' 'Memphis' 'Austin' 'Beaumont'
 'Dallas' 'Fort Worth' 'Garland' 'Alexandria' 'Chesapeake' 'Hampton'
 'Newport News' 'Virginia Beach' 'Federal Way' 'Yakima' 'Green Bay'
 'Gilbert' 'Milwaukee' 'Waukesha' 'Birmingham' 'Chandler' 'Mobile'
 'Hoover' 'Tuscaloosa' 'Montgomery' 'Avondale' nan 'Killeen' 'Longview'
 'McKinney' 'Plano' 'Phoenix' 'Glendale' 'Mesa' 'Peoria' 'Corona'
 'Anaheim' 'Tucson' 'Little Rock' 'Surprise' 'Alhambra' 'Scottsdale'
 'Springdale' 'Fort Smith' 'Jonesboro' 'Alameda' 'Daly City' 'Bakersfield'
 'Berkeley' 'Chula Vista' 'Bellflower' 'Compton' 'Downey' 'Carson'
 'Carlsbad' 'Buena Park' 'Citrus Heights' 'Chino' 'Costa Mesa'
 'Apple Valley' 'Clovis' 'Baldwin Park' 'Chico' 'Chino Hills' 'Long Beach'
 'Elk Grove' 'Fresno' 'El Cajon' 'Fontana' 'Escondido' 'El Monte'
 'Hayward' 'Hawthorne' 'Fullerton' 'Fairfield' 'Fremont' 'Garden Grove'
 'Lake Forest' 'Irvine' 'Huntington Beach' 'Lakewood' 'Lancaster'
 'Hesperia' 'Indio' 'Hemet' 'Livermore' 'Arvada' 'Los Angeles'
 'Mission Viejo' 'Newport Beach' 'Menifee' 'Napa' 'Murrieta' 'Manteca'
 'Milpitas' 'Modesto' 'Merced' 'Mountain View' 'Norwalk' 'Lynwood'
 'San Diego' 'Oakland' 'Rialto' 'Orange' 'Pomona' 'Richmond'
 'Rancho Cucamonga' 'Pleasanton' 'Oxnard' 'Redding' 'Pasadena' 'Redlands'
 'Ontario' 'Redwood City' 'Perris' 'Oceanside' 'Redondo Beach'
 'Sacramento' 'San Bernardino' 'Salinas' 'San Buenaventura (Ventura)'
 'Whittier' 'San Mateo' 'San Ramon' 'San Marcos' 'San Leandro'
 'Westminster' 'Vallejo' 'Santa Barbara' 'Torrance' 'Simi Valley'
 'Santa Ana' 'Stockton' 'Upland' 'Tustin' 'Turlock' 'Santa Clarita'
 'Tracy' 'Santa Rosa' 'South Gate' 'Temecula' 'Sunnyvale' 'Santa Monica'
 'Bridgeport' 'Visalia' 'Denver' 'Boulder' 'Colorado Springs'
 'Victorville' 'Aurora' 'Centennial' 'Vista' 'Chicago' 'Longmont'
 'New Britain' 'Waterbury' 'Danbury' 'Pueblo' 'New Haven' 'Hartford'
 'Greeley' 'Loveland' 'Gainesville' 'Clearwater' 'Hialeah' 'Coral Springs'
 'Washington' 'Deerfield Beach' 'Fort Lauderdale' 'Davie' 'Deltona'
 'Boca Raton' 'Boynton Beach' 'Jacksonville' 'Lakeland' 'Orlando' 'Miami'
 'Palm Bay' 'Lauderhill' 'Palm Coast' 'Largo' 'Miami Beach'
 'Miami Gardens' 'Miramar' 'St. Petersburg' 'Tampa' 'Tallahassee'
 'Sunrise' 'Port St. Lucie' 'Pembroke Pines' 'Atlanta' 'Athens'
 'West Palm Beach' 'Plantation' 'Albany' 'Honolulu' 'Boise City' 'Macon'
 'Augusta' 'Nampa' 'Savannah' 'Johns Creek' 'Sandy Springs' 'Meridian'
 'Roswell' 'Warner Robins' 'Bloomington' 'Bolingbrook' 'Champaign'
 'Arlington Heights' 'Elgin' 'Palatine' 'Evanston' 'Decatur' 'Cicero'
 'Naperville' 'Joliet' 'Waukegan' 'Indianapolis' 'Evansville' 'Rockford'
 'Gary' 'Springfield' 'Fort Wayne' 'Fishers' 'Schaumburg' 'Carmel'
 'Hammond' 'Wichita' 'New Orleans' 'Overland Park' 'Muncie' 'Topeka'
 'South Bend' 'Waterloo' 'Lawrence' 'Kansas City' 'Cedar Rapids'
 'Davenport' 'Iowa City' 'Baton Rouge' 'Louisville' 'Lake Charles'
 'Lexington' 'Kenner' 'Baltimore' 'Brockton' 'Shreveport' 'Detroit'
 'Portland' 'Lowell' 'Lynn' 'New Bedford' 'Ann Arbor' 'Fall River'
 'Quincy' 'Worcester' 'Somerville' 'Dearborn' 'Newton' 'Grand Rapids'
 'Sterling Heights' 'Duluth' 'Kalamazoo' 'Westland' 'Lansing' 'Flint'
 'Warren' 'Wyoming' 'Livonia' 'Southfield' 'Farmington Hills'
 'Rochester Hills' 'Troy' 'Paterson' 'Plymouth' 'Minneapolis' 'Jackson'
 'Independence' 'St. Joseph' "Lee's Summit" 'St. Paul' "O'Fallon"
 'Las Vegas' 'Omaha' 'Billings' 'St. Louis' 'Henderson' 'Lincoln'
 'Missoula' 'Clifton' 'Sparks' 'Reno' 'North Las Vegas' 'Newark' 'Camden'
 'Elizabeth' 'Passaic' 'Trenton' 'Albuquerque' 'Santa Fe' 'Mount Vernon'
 'Las Cruces' 'Buffalo' 'New Rochelle' 'Gastonia' 'Rio Rancho' 'Durham'
 'Winston-Salem' 'Greenville' 'Cary' 'Schenectady' 'Greensboro'
 'High Point' 'Cincinnati' 'Canton' 'Akron' 'Rock Hill' 'Oklahoma City'
 'Parma' 'Dayton' 'Edmond' 'Norman' 'Youngstown' 'Toledo' 'Sioux Falls'
 'Beaverton' 'Medford' 'Eugene' 'Bend' 'Hillsboro' 'Philadelphia'
 'Pittsburgh' 'Allentown' 'Arlington' 'Rapid City' 'Charleston' 'Scranton'
 'Chattanooga' 'Clarksville' 'Providence' 'North Charleston' 'Reading'
 'Pawtucket' 'Mount Pleasant' 'Cranston' 'Amarillo' 'Murfreesboro'
 'Abilene' 'Nashville' 'Allen' 'Brownsville' 'Baytown' 'Carrollton'
 'Corpus Christi' 'College Station' 'Bryan' 'El Paso' 'Denton' 'Frisco'
 'Edinburg' 'Houston' 'Grand Prairie' 'Laredo' 'Lewisville' 'Lubbock'
 'Mission' 'Mesquite' 'McAllen' 'Missouri City' 'Odessa' 'League City'
 'Midland' 'Pearland' 'Irving' 'Kenosha' 'Vancouver' 'San Antonio'
 'San Angelo' 'Waco' 'Wichita Falls' 'Pharr' 'Round Rock' 'Richardson'
 'Sugar Land' 'Tyler' 'Ogden' 'Portsmouth' 'Provo' 'West Jordan' 'Sandy'
 'Norfolk' 'Burlington' 'Orem' 'Layton' 'West Valley City' 'Lynchburg'
 'Salt Lake City' 'St. George' 'Kennewick' 'Suffolk' 'Seattle' 'Auburn'
 'Kent' 'Bellingham' 'Everett' 'Roanoke' 'Renton' 'Bellevue' 'Spokane'
 'Appleton' 'Spokane Valley' 'Tacoma' 'Cheyenne' 'Madison' 'Racine']

In [80]:
income_for_diabetes = income.loc[income['City'].isin(list_of_cities)]
print(income_for_diabetes.shape)
list_of_states = income_for_diabetes['State_Name'].unique()
list_of_cities = income_for_diabetes['City'].unique()

diabetes_for_income = diabetes.loc[diabetes['CityName'].isin(list_of_cities)]

(269, 19)
['New York' 'Washington' 'Wyoming']

In [71]:
income_for_diabetes.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
5837,11012,11,District of Columbia,DC,District of,Washington,Washington city,City,place,20001,202,158364992,18633403,38.904103,-77.017229,92477,71044,76702,129368.599311
5838,11021,11,District of Columbia,DC,District of Columbia,Washington,Washington city,Track,Track,20007,202,1907610,512798,38.906017,-77.060187,166647,181669,80640,511.071842
5839,1102101,11,District of Columbia,DC,District of Columbia,Washington,Washington city,Track,Track,20020,202,615798,0,38.856633,-76.969545,39559,25631,45420,1295.318050
5840,110211,11,District of Columbia,DC,District of Columbia,Washington,Washington city,Track,Track,20016,202,2931409,144814,38.923767,-77.091734,137357,122567,91353,966.956474
5841,1102111,11,District of Columbia,DC,District of Columbia,Washington,Washington city,Track,Track,20003,202,838021,86864,38.880057,-76.967493,42904,33693,41090,757.531972

In [ ]:
combined_df = income_for_diabetes[['State_Name', 'City', 'Zip_Code', 'Mean', 'Median', 'Stdev']].copy()